.todo-item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.todo-left {
    display: flex;
    align-items: center;
  }
  .todo-checkbox {
    margin-right: 0.75rem;
  }
  .todo-text {
    font-size: 14px;
  }

  .todo-right {
    display: flex;
    align-items: center;
  }

.todo-date {
    font-size: 14px;
    color: #666;
    margin-right: 1rem;
}

.todo-delete {
    background-color: #eee;
    border: none;
    color: #666;
    padding: 0.25rem 0.75rem;
    border-radius: 0.375rem;
}
  