.header-container {
    padding: 1rem;
  }
  .header-title {
    font-size: 1rem;
    font-weight: 800;
  }
  .header-date {
    font-size: 2rem;
    font-weight: 700;
    color: #2593ff;
    margin: 0;
  }
  