.app {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: #2593ff;
}

.editor {
  display: flex;
  gap: 10px;
}

.editor input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.editor button {
  margin-left: 10px;
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: #2593ff;
  color: #fff;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 15px 0;
}

.list input:focus {
  outline: none;
  border-bottom: 1px solid rgb(37, 147, 255);
}

.todoitem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.todoitem input {
  width: 20px;
}

.todoitem .content {
  flex: 1;
}

.todoitem .date {
  font-size: 14px;
  color: gray;
}

.todoitem button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}